<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100028779043047"><i class="fa-brands fa-square-facebook"></i></a>
            
            <a href="https://www.instagram.com/theankitparashar_/"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkdln.com/theankitparashar">  <i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand">Made with ❤️ by Ankit Parashar</div>
        <div class="f-info-brand"> &copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>